Horizontal {
    height: 1;
}

.username {
    width: 10;
}

.timestamp {
    dock: right;
    color: $primary-background;
}

.edited {
    color: $primary-background;
}

.deleted {
    color: #ff4a4a;
}